<!DOCTYPE html>
<html lang="en" ng-app="calendar-admin">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
    <!--StyleSheets-->
    <link rel="stylesheet" href="../vendors/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/Bootstrap-Calendar/angular-bootstrap-calendar.min.css">

    <!--Scripts-->
    <script src="../vendors/moment/moment.js"></script>
    <script src="../vendors/Angular/angular.min.js"></script>
    <script src="../vendors/jQuery/jquery.min.js"></script>
    <script src="../vendors/Bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
    <script src="../vendors/Bootstrap-UI/ui-bootstrap-tpls.js"></script>
    <script src="../vendors/Bootstrap-Calendar/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="../scripts/calendar-admin.js"></script>






</head>
<body>
    <div ng-view></div>





</body>
</html>