<!--Client form-->
<div class="form">
    <h1>Client Referral Form</h1>
    <!--Do we still want the form worded in the perspective of a caseworker?-->
    <label>Thank you for using Dress for Success Twin Cities. Please fill out the form below so we can help your client
        get suited for their interview or job.</label>
    <form>
        <div class="client-info">
        <h4>Client Information</h4>
            <label>First Name
                <input type="text" placeholder="First Name">
                </label>
            <label>Last Name
                <input type="text" placeholder="Last Name">
        </label>
        <h4>Client Address</h4>
        <label>Street line 1:
            <input type="text" placeholder="Street line 1">
        </label>
        <label>Street line 2:
            <input type="text" placeholder="Street line 2">
        </label>
        <label>City:
            <input type="text" placeholder="City">
        </label>
        <label>State:
            <input type="text" placeholder="State" maxlength="2">
        </label>
        <label>Zip:
            <input type="text" placeholder="Zip">
        </label>
        <label>Client Home Phone:
            <input type="tel">
        </label>
        <label>Cell Phone:
            <input type="tel" placeholder="Cell Phone">
        </label>
        <label>Email:
            <input type="email" placeholder="Email">
        </label>
        <p>Alternate Client Contact. How else can we reach you?</p>
        <label>Contact Name
            <input type="text" placeholder="Contact Name">
        </label>
        <label>Phone Number:
            <input type="tel"> placeholder="Phone Number">
        </label>
        <label>Relation to Client
            <input type="text">
        </label>
            </div>
        <div class="suiting-info">
        <h4>Client Suiting Information</h4>
        <label>Age:
            <input type="number">
        </label>
        <label>Height:
            <input type="text">
        </label>
        <label>Select your top size:
            <span>XS</span>
            <input type="radio" name="topsize" value="XS">
            <span>S</span>
            <input type="radio" name="topsize" value="S">
            <span>M</span>
            <input type="radio" name="topsize" value="M">
            <span>L</span>
            <input type="radio" name="topsize" value="L">
            <span>XL</span>
            <input type="radio" name="topsize" value="XL">
            <span>2X</span>
            <input type="radio" name="topsize" value="2X">
            <span>3X</span>
            <input type="radio" name="topsize" value="3X">
            <span>4X and up</span>
            <input type="radio" name="topsize" value="4X-up">
            <label>Select your bottom size:</label>
            <span>0</span>
            <input type="radio" name="bottomsize" value="0">
            <span>2</span>
            <input type="radio" name="bottomsize" value="2">
            <span>4</span>
            <input type="radio" name="bottomsize" value="4">
            <span>6</span>
            <input type="radio" name="bottomsize" value="6">
            <span>8</span>
            <input type="radio" name="bottomsize" value="8">
            <span>10</span>
            <input type="radio" name="bottomsize" value="10">
            <span>12</span>
            <input type="radio" name="bottomsize" value="12">
            <span>14</span>
            <input type="radio" name="bottomsize" value="14">
            <span>16</span>
            <input type="radio" name="bottomsize" value="16">
            <span>18</span>
            <input type="radio" name="bottomsize" value="18">
            <span>20</span>
            <input type="radio" name="bottomsize" value="20">
            <span>22</span>
            <input type="radio" name="bottomsize" value="22">
            <span>24</span>
            <input type="radio" name="bottomsize" value="24">
            <span>26</span>
            <input type="radio" name="bottomsize" value="26">
            <span>28</span>
            <input type="radio" name="bottomsize" value="28">
            <span>3X</span>
            <input type="radio" name="bottomsize" value="3X">
            <span>4X and up</span>
            <input type="radio" name="bottomsize" value="4X-up">
        </label>
        <p>Select your shoe size:</p>
        <label>
            <input type="radio" name="shoesize" value="5.5">
            <span>5.5</span>
            <input type="radio" name="shoesize" value="6">
            <span>6</span>
            <input type="radio" name="shoesize" value="6.5">
            <span>6.5</span>
            <input type="radio" name="shoesize" value="7">
            <span>7</span>
            <input type="radio" name="shoesize" value="7.5">
            <span>7.5</span>
            <input type="radio" name="shoesize" value="8">
            <span>8</span>
            <input type="radio" name="shoesize" value="8.5">
            <span>8.5</span>
            <input type="radio" name="shoesize" value="9">
            <span>9</span>
            <input type="radio" name="shoesize" value="9.5">
            <span>9.5</span>
            <input type="radio" name="shoesize" value="10">
            <span>10</span>
            <input type="radio" name="shoesize" value="10.5">
            <span>10.5</span>
            <input type="radio" name="shoesize" value="11">
            <span>11</span>
            <input type="radio" name="shoesize" value="11.5">
            <span>11.5</span>
            <input type="radio" name="shoesize" value="12">
            <span>12</span>
            <input type="radio" name="shoesize" value="12.5">
            <span>12.5</span>
            <input type="radio" name="shoesize" value="13">
            <span>13</span>
        </label>
        <br>
        <label>Does your client have any additional physical, religious or corporate clothing requirements?
            <textarea rows="4" cols="50" name="clothing-restrictions"
                      placeholder="e.g. Unable to wear high-heels, must wear hijab..."></textarea>
        </label>
            </div>
        <div class="employment-info">
        <h4>Employment/Interview Information</h4>
        <label>First Interview Date
            <input type="date" name="interview-date">
        </label>
        <p>OR</p>
        <label>Employment Start Date
            <input type="date" name="employment-start">
        </label>
        <label>Company
            <input type="text" name="company-name">
        </label>
        <label>Job Title
            <input type="text" name="job-title">
        </label>
            </div>

        <label>Does your client have any scheduling restrictions?</label>
        <textarea rows="4" cols="50" name="schedule-restrictions"></textarea>
        <br>
        <input type="submit">
    </form>
</div>