<!--Client form-->
<div class="form">
    <h1>Client Referral Form</h1>
    <!--Do we still want the form worded in the perspective of a caseworker?-->
    <p>Thank you for using Dress for Success Twin Cities. Please fill out the form below, so we can help your client
        get suited for their interview or job.</p>
    <form>
        <p><b>Client Information</b></p>
        <p>Client Name:</p>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <p>Client Address:</p>
        <input type="submit">
    </form>
</div>