<!--<header ng-include="'/views/templates/header.html'"></header>-->
<!--<footer ng-include="'/views/templates/footer.html'"></footer>-->
<!--Client form-->
<div class="form">
    <h1>Client Referral Form</h1>
    <!--Do we still want the form worded in the perspective of a caseworker?-->
    <p>Thank you for using Dress for Success Twin Cities. Please fill out the form below so we can help your client
        get suited for their interview or job.</p>
    <form>
        <h4>Client Information</h4>
        <p>Client Name:</p>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <h4>Client Address</h4>
        <p>Street line 1:</p>
        <input type="text" placeholder="Street line 1">
        <p>Street line 2:</p>
        <input type="text" placeholder="Street line 2">
        <p>City:</p>
        <input type="text" placeholder="City">
        <p>State:</p>
        <input type="text" placeholder="State" maxlength="2">
        <p>Zip:</p>
        <input type="text" placeholder="Zip">
        <p>Client Home Phone:</p>
        <input type="tel">
        <p>Cell Phone:</p>
        <input type="tel" placeholder="Cell Phone">
        <input type="email" placeholder="Email">
        <p>Alternate Client Contact. How else can we reach you?</p>
        <p>Contact Name:</p>
        <input type="text" placeholder="Contact Name">
        <input type="tel" placeholder="Phone Number">
        <h4>Client Suiting Information</h4>
        <p>Age:</p>
        <input type="number">
        <p>Height:</p>
        <input type="text">
        <p>Select your top size:</p>
        <span>XS</span>
        <input type="radio" name="topsize" value="XS">
        <span>S</span>
        <input type="radio" name="topsize" value="S">
        <span>M</span>
        <input type="radio" name="topsize" value="M">
        <span>L</span>
        <input type="radio" name="topsize" value="L">
        <span>XL</span>
        <input type="radio" name="topsize" value="XL">
        <span>2X</span>
        <input type="radio" name="topsize" value="2X">
        <span>3X</span>
        <input type="radio" name="topsize" value="3X">
        <span>4X and up</span>
        <input type="radio" name="topsize" value="4X-up">
        <p>Select your bottom size:</p>
        <span>0</span>
        <input type="radio" name="bottomsize" value="0">
        <span>2</span>
        <input type="radio" name="bottomsize" value="2">
        <span>4</span>
        <input type="radio" name="bottomsize" value="4">
        <span>6</span>
        <input type="radio" name="bottomsize" value="6">
        <span>8</span>
        <input type="radio" name="bottomsize" value="8">
        <span>10</span>
        <input type="radio" name="bottomsize" value="10">
        <span>12</span>
        <input type="radio" name="bottomsize" value="12">
        <span>14</span>
        <input type="radio" name="bottomsize" value="14">
        <span>16</span>
        <input type="radio" name="bottomsize" value="16">
        <span>18</span>
        <input type="radio" name="bottomsize" value="18">
        <span>20</span>
        <input type="radio" name="bottomsize" value="20">
        <span>22</span>
        <input type="radio" name="bottomsize" value="22">
        <span>24</span>
        <input type="radio" name="bottomsize" value="24">
        <span>26</span>
        <input type="radio" name="bottomsize" value="26">
        <span>28</span>
        <input type="radio" name="bottomsize" value="28">
        <span>3X</span>
        <input type="radio" name="bottomsize" value="3X">
        <span>4X and up</span>
        <input type="radio" name="bottomsize" value="4X-up">
        <p>Select your shoe size:</p>
        <input type="radio">
        <br>
        <input type="submit">
    </form>
</div>